extends layout

block content
	include includes/nav
	.container
		#intro.white.section
			p 
				| Howdy, I'm Elena Boyd and I am an experienced developer
				| and design enthusiast in Austin, TX.
		#brush
		#aboutSection.section
			//- #selfImage
			#summary
				p
					| I am an accomplished and creative developer with experience in iOS development, full-stack website
					| development, and API production. 
					| I am detail oriented and discover style within simplicity. 
					| I am passionate about design and completed numerous artistic tasks, including wireframes and UX design.
					| Furthermore, I incorporate UI/UX fundamentals in all of my development projects.
					| And vice versa. 

				#designDev
				p 
					| At the end of the day, I am simply a student. As a dedicated and fast learner, I have the capacity to 
					| immerse myself in any technology or tool and become proficient in a matter of days.
				p
					| I also have a knack for interior design and cooking...