#moon.project
	p Moonshine Interactive Responsive Website +Business Cards
	#projectImages
		a#moon1(href='mailto:elenaeboyd@gmail.com')
		a#moon2(href='mailto:elenaeboyd@gmail.com')
			#busCard1
			#busCard2
	
	