extends layout

block content
	include includes/nav
	.container
		#resume
			.section
				.title Experience
				.subsection
					.label Moonshine Interactive
					.label Girls Guild
					.label Whole Foods Market
					.label Southern California Earthquake Center

			.section
				.title Education
				.subsection
					.label University of Texas at Austin
			.section
				.title Advanced Training
				.subsection
					.label Big Nerd Ranch
			.section
				.title Skills
				.subsection
					.label Technical
					.column
						ul.skills
							li 
								span Objective-C
							li  
								span Javascript
					.column
						ul.skills
							li 
								span Objective-C
							li  
								span Javascript
					.column
						ul.skills
							li 
								span Objective-C
							li  
								span Javascript
					.clearLine
					.label Professional
					.label Design
					.label Awesome