extends layout

block content
	include includes/nav
	.container
		#resume
			.section
				.title Experience
				.subsection
					.joblabel Moonshine Interactive 
					.sublabel Cofounder + Developer + Lead Designer | Nov 2013 - Current
					
					.joblabel Girls Guild 
					.sublabel Web Developer + Design Apprentice | Nov 2013 - Current
					.joblabel Whole Foods Market 
					.sublabel Mobile Developer | Jun 2011 - Nov 2013
					p 
						| Member of an Agile development team - actively 
						| participated in daily scrum meetings, sprint and architectural 
						| planning, UX design, and stakeholder demos. Collaborated with 
						| other developers and UX designer to improve existing Recipes app and 
						| implement new functionality.
					ul.skills
							li 
								span 
									| Designed, developed, and distributed internal 
									| native iOS app to support training in the stores. 
									| Produced supporting RESTful API and admin interface 
									| allowing Team Leaders to manage data and track results.
							li  
								span 
									| Created responsive website using HTML5, 
									| CSS, PHP and jQuery - application consumed 
									| and displayed system data from SharePoint Web Services.
							li
								span
									| Managed popular children's app - Awesome Eats. 
									| Responsible for communications, gathering release 
									| requirements, and submitting app updates to App Store.
							li
								span
									| Coordinated venue, catering and entertainment 
									| for company holiday party under budgetary 
									| constraints and a short timeline.
					.joblabel Southern California Earthquake Center 
					.sublabel Web Development Intern | Summer 2009 + Summer 2010
					ul.skills
						li
							span 
								| Used Javascript & HTML5 to build interactive web 
								| application to display 3D visualizations of earthquake metadata.
						li
							span
								| Organized deadlines and learned required skills while working remotely and without guidance.
						li
							span
								| Delivered presentation at international conference.
			.clearLine
			.section
				.title Education
				.subsection.bachelors
					.label University of Texas at Austin | 2006 -2011
					ul.skills
						li 
							span Bachelors of Science in Computer Science
			.clearLine
			.section
				.title Advanced Training
				.subsection
					.column
						ul.skills
							li 
								span Big Nerd Ranch iOS Bootcamp
							li  
								span Big Nerd Ranch Advanced iOS Training
					.column
						ul.skills
							li  
								span Agile Velocity Agile Training
							li  
								span Mobile Design Patterns with Theresa Neil
					.column
						ul.skills
							li  
								span WWDC 2013
							li 
								span SXSW Interactive | 2012, 2013
			.clearLine
			.section
				.title Skills
				.subsection
					.label Technical
					.column
						ul.skills
							li 
								span Objective-C
							li  
								span Titanium | Alloy 
							li  
								span Javascript | jQuery 
							li  
								span node.js | Express
							li  
								span PHP | CodeIgnitor
											
					.column
						ul.skills
							li  
								span Ruby | Ruby on Rails | Sinatra	
							li
								span HTML | HTML5
							li
								span CSS 
							li 
								span JSON | XML
							li
								span Java
					.column
						ul.skills
							li
								span SQL | MySQL
							li 
								span Github
							li  
								span Jenkins Continuous Integration
							li
								span JMeter
					.clearLine
					.label Professional
					.column
						ul.skills
							li 
								span Agile Methodologies
							li
								span Team Work
							
					.column
						ul.skills
							li  
								span Event planning
							li
								span Communication
					.column
						ul.skills
							li 
								span Time Management
							li  
								span Relationship building
					.clearLine
					.label Design
					.column
						ul.skills
							li 
								span UI Design for Mobile + Web
							li 
								span Mobile UX Design
					.column
						ul.skills
							li 
								span Illustrator | Photoshop
							li 
								span Experience Mapping
					.column
						ul.skills
							li  
								span Omnigraffle
					.clearLine
					.label ETC
					.column
						ul.skills
							li 
								span Cooking
							li  
								span Interior Design
					.column
						ul.skills
							li
								span Gardening
							li 
								span Dancing like no one's watching