extends layout

block content
	include includes/nav
	.container
		#work
			- var ids = ["moon", "mark"];
			- var jobs = ["Moonshine Interactive Website", 'MarksTheSpot iPhone App']
			each val, index in jobs
				div
					- id = ids[index];
					- job = val
					include project 