extends layout

block content
	include includes/nav
	.container
		#work
			- var ids = ["moon", "mark", "logo"];
			- var jobs = ["Moonshine Interactive Website", 'MarksTheSpot iPhone App', 'Logo']
			each val, index in jobs
				div
					- id = ids[index];
					- job = val
					include project 