@import url(fonts.css);

body {
	padding: 0px;
	margin: 0px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/*background-image: url('/images/bricks.jpg');*/
	background-color: #fff;
	/*background-color: #533c46;*/
	background-size: 100%;
	/*background-attachment: fixed;*/
	width: 100%;
}

#nav {
	margin-top: 0px;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 10;
	
}

ul {
	padding-right: 30px;
	float:left;
	list-style-type: none;
}

li {
	float:left;
	padding: 16px;
	font-family: "ostrich";
	font-size: 28px;
	color: #000;
}

li#name {
	padding-top: 12px;
	font-family: "good-foot";
	font-size: 36px;
}

.current {
	border-bottom: 3px solid #e58a8f;
}


#contact {
	float:right;
	width: 300px;
	margin-top: 14px;
	margin-right: 46px;
	/*margin: 132px auto;*/
}

.icon {
	width:44px;
	height:44px;
	padding: 10px;
	
}

#mail {
	float: right;
	background: url('/images/email.png') center no-repeat;
	background-size: 44px;
}

#in {
	float:right;
	background: url('/images/linkedIn.png') center no-repeat;
	background-size: 44px;
}

#twitter {
	float:right;
	background: url('/images/twitter.png') center no-repeat;
	background-size: 44px;
}

#work {
	margin: 0px auto;
 	width:900px;
}

a {
  	color: #000;
  	text-decoration: none;
}


p {
	padding: 42px;

}

.container {
	padding-top: 50px;
	font-family: "good-foot";
	font-size: 48px;
}

#intro {
	margin: 50px auto;
	color: #000;
	width: 100%;
	text-align: center;
	height: 220px;
}

#about {
	color: #fff;
	width: 100%;
	height: 400px;
	font-size: 24px;
}

.black {
	background-color: #000;
}

.white {
	background-color: #fff;
/*	border-color: #000;
	border-width: 1px;
	border-style: solid;*/
}

.tan {
	background-color: #312e3f;
}

.project {
	float:left;
	margin: 20px;
	width: 400px;
	height: 300px;
}

