@import url(fonts.css);

body {
	padding: 0px;
	margin: 0px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url('/images/bricks.jpg');
	background-size: 100%;
	background-attachment: fixed;
	width: 100%;
}

#nav {
	height: 40px;
	
}

ul {
	padding-right: 30px;
	float:right;
	list-style-type: none;
}

li {
	float:right;
	padding: 30px;
	font-family: "ostrich";
	font-size: 28px;
	color: #fff;
}

a {
  	color: #fff;
  	text-decoration: none;
}


p {
	padding: 42px;

}

.container {
	margin-top: 160px;
	font-family: "good-foot";
	font-size: 48px;
}

#intro {
	color: #fff;
	width: 100%;
	text-align: center;
	height: 220px;
}

#about {
	color: #000;
	width: 100%;
	height: 400px;
	font-size: 24px;
}

.black {
	background-color: #000;
}

.white {
	background-color: #fff;
/*	border-color: #000;
	border-width: 1px;
	border-style: solid;*/
}

#contact {
	width: 300px;
	margin: 132px auto;
}

.icon {
	width:44px;
	height:44px;
	padding: 20px;
	
}

#mail {
	float: left;
	background: url('/images/email.png') center no-repeat;
	background-size: 44px;
}

#in {
	float:left;
	background: url('/images/linkedIn.png') center no-repeat;
	background-size: 44px;
}

#twitter {
	float:left;
	background: url('/images/twitter.png') center no-repeat;
	background-size: 44px;
}

